// Color 
$mainСolor: #019EB1;
$headerLogo: #FEFFFC;
$borderMain: rgba(255, 255, 255, 0.45);
$swiperTextColor: #69C6D1;
$activeButton: #043D5C;
$noActiveButton: #ADE2E9;
$noActiveTextTrash: rgba(1, 158, 177, 0.63);
$borderTrash: rgba(87, 185, 197, 0.34);
$textCatalogTrashActive: rgba(126, 126, 126, 1);
$scrollbar: #C4C4C4;
$scrollbarStrela: #8DD3DC;