@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
}
body header {
  background-image: url(../img/svg/vyazanka.svg);
  background-color: #019EB1;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media (max-width: 768px) {
  body header {
    bottom: 0px;
  }
}
body header .row {
  max-width: 95%;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #FEFFFC;
}
body header .row .column:nth-of-type(1) {
  display: flex;
  align-items: center;
}
body header .row .column:nth-of-type(1) img:nth-of-type(1) {
  width: 4em;
}
body header .row .column:nth-of-type(1) img:nth-of-type(2) {
  height: 2em;
}
body header .row .column:nth-of-type(2) {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
body header .row .column:nth-of-type(2) .items:nth-of-type(1) {
  text-decoration: none;
  color: #FEFFFC;
}
body header .row .column:nth-of-type(2) .items:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-left: 1.83em;
  width: 8.92em;
  height: 2.09em;
  border: 1px solid #FEFFFC;
  border-radius: 1em;
  justify-content: space-evenly;
  text-decoration: none;
}
@media (max-width: 767px) {
  body header .row .column:nth-of-type(2) .items:nth-of-type(2) {
    width: 5em;
    margin-left: 1em;
  }
}
body header .row .column:nth-of-type(2) .items:nth-of-type(2) .items_number {
  width: 1.5em;
  height: 1.5em;
  background-color: #FEFFFC;
  border-radius: 100%;
  color: #019EB1;
  text-align: center;
}
body header .row .column:nth-of-type(2) .items:nth-of-type(2) .items_text {
  color: #FEFFFC;
}
@media (max-width: 767px) {
  body header .row .column:nth-of-type(2) .items:nth-of-type(2) .items_text {
    display: none;
  }
}
body header .row .column:nth-of-type(2) .items:nth-of-type(2) .items_trash {
  width: 1.5em;
}

header .row .column:nth-of-type(2) {
  display: none !important;
}
header .row .column:nth-of-type(3) a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

body ::-webkit-scrollbar {
  width: 1em;
  /* ширина для вертикального скролла */
  height: 0;
  background-color: #C4C4C4;
  border-radius: 9em;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(1, 158, 177, 0.63);
  border-radius: 9em;
  width: 0.6em;
}
@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1140px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

main section {
  background-image: url(../../img/svg/vyazanka.svg);
  background-color: #019EB1;
  padding: 8vh 0 4vh 0;
}
@media (max-width: 768px) {
  main section {
    padding: 2em 0 0 0;
  }
}
main section .container {
  max-width: 95%;
  margin: 0 auto;
  height: 88vh;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  main section .container {
    height: 92vh;
  }
}
@media (max-width: 576px) {
  main section .container {
    justify-content: space-around;
  }
}
@media (min-width: 577px) {
  main section .container .row:nth-of-type(1) {
    height: 60vh;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) {
    height: 60%;
  }
}
main section .container .row:nth-of-type(1) .wrapper {
  max-width: 75%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr;
}
@media (max-width: 768px) {
  main section .container .row:nth-of-type(1) .wrapper {
    max-width: 90%;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125em solid rgba(87, 185, 197, 0.34);
  padding-bottom: 1em;
  width: 95%;
}
@media (max-width: 440px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) {
    flex-direction: column;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-of-type(1) {
  display: flex;
  align-items: center;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-of-type(1) img {
  margin-right: 0.8em;
  width: 2em;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-of-type(1) span {
  font-size: 2.2em;
  font-weight: 600;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-child(2) {
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 440px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-child(2) {
    padding-top: 1em;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-child(2) img {
  width: 1.9em;
  margin-right: 0.5em;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(1) .column:nth-child(2) span {
  color: rgba(1, 158, 177, 0.63);
  font-size: 1.3em;
  font-weight: 600;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) {
  overflow: scroll;
  scrollbar-color: #458245 #714826;
  padding: 1.5em 0;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog {
  display: grid;
  align-items: center;
  padding: 3.5em 0;
}
@media (min-width: 1441px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog {
    grid-template-columns: 5fr 8fr 4fr 3fr 3fr;
  }
}
@media (min-width: 577px) and (max-width: 1440px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog {
    grid-template-columns: 5fr 7fr 4fr 3fr 3fr;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog {
    grid-template-areas: "section1 section1 section1" "section2 section2 section2" "section3 section4 section5";
    grid-row-gap: 2em;
    grid-template-columns: 2fr 2fr 2fr;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog {
    padding: 1.5em 0;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(1) {
    grid-area: section1;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(1) img {
  width: 10.625em;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) {
  align-self: center;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) {
    grid-area: section2;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) h3 {
  font-size: 1.5em;
  font-weight: 600;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) p:nth-of-type(1) {
  font-size: 1.375em;
  color: #7e7e7e;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) p:nth-of-type(2) {
  color: #7e7e7e;
  font-weight: 600;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) p:nth-of-type(2) {
    display: inline;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) p:nth-of-type(3) {
  color: #7e7e7e;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) p:nth-of-type(3) {
    display: inline;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(3) {
  display: flex;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(3) {
    grid-area: section3;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(3) img {
  width: 2.3125em;
  height: 2.3125em;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(3) span {
  font-size: 1.8125em;
  font-weight: 600;
  padding: 0 0.4em;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(4) {
    grid-area: section4;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(4) span {
  font-size: 1.8125em;
  font-weight: 600;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(5) {
    grid-area: section5;
  }
}
@media (max-width: 576px){
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(2) .row_wrapper_catalog .column:nth-of-type(5) img {
  width: 2.75em;
}
main section .container .row:nth-of-type(1) .wrapper .row_wrapper:nth-of-type(3) {
  height: 0.125em;
  background-color: rgba(87, 185, 197, 0.34);
  width: 95%;
}
main section .container .row:nth-of-type(2) {
  height: 18vh;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(2) {
    height: 27%;
  }
}
main section .container .row:nth-of-type(2) .wrapper {
  display: grid;
  grid-template-columns: 14fr 10fr;
  max-width: 75%;
  grid-row-gap: 2em;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 768px) {
  main section .container .row:nth-of-type(2) .wrapper {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(2) .wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(1) {
  display: flex;
  align-items: center;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(1) span:nth-of-type(1) {
  font-size: 1.3125em;
  font-weight: 500;
  padding-right: 1em;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(1) span:nth-of-type(2) {
  font-size: 1.9375em;
  font-weight: 600;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(2) {
  display: flex;
  align-items: center;
}
@media (min-width: 577px) and (max-width: 768px) {
  main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(2) {
    justify-self: self-end;
  }
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(2) span:nth-of-type(1) {
  font-size: 1.3125em;
  font-weight: 500;
  padding-right: 1em;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(2) span:nth-of-type(2) {
  font-size: 1.9375em;
  font-weight: 600;
}
@media (max-width: 576px) {
  main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(3) {
    display: none;
  }
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(3) a {
  display: inline-flex;
  text-decoration: none;
  padding: 1.35em 2.9em;
  border: 0.125em solid #019EB1;
  border-radius: 2.875em;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(3) a img {
  width: 0.7em;
  margin-right: 0.75em;
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(3) a span {
  font-size: 1.3125em;
  color: #ADE2E9;
}
@media (min-width: 577px) and (max-width: 768px) {
  main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(4) {
    justify-self: self-end;
  }
}
main section .container .row:nth-of-type(2) .wrapper .column:nth-of-type(4) a {
  display: inline-flex;
  text-decoration: none;
  padding: 1em 3.8em;
  border: 0.125em solid #019EB1;
  border-radius: 2.875em;
  background-color: #019EB1;
  font-size: 1.3125em;
  color: white;
}